
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'S-CoreDream-5Medium';
  font-weight: 600;

}
body {
  color: #396658;
}
.inner_box {
  position: relative;
  background-color: #fff;
  width: 1300px;
  height: 700px;
  margin-top: 0px;
  margin-left: 250px;
}
.create {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.input_area {
  border-bottom: #fff;
  border-top: #fff;
  border-left: #fff;
}

.color_box {
  margin-top: 20px;
  width: 1300px;
  height: 50px;
  background-color: #FEF7CC;
}

.content {
  padding: 20px;
  position: absolute;
  background-color: #FEF7CC;
  top: 150px;
  left: 380px;
  width: 500px;
  height: 490px;
  font-size: 20px;
}

.create_name {
  margin-left: 230px;
}

.input {
  margin-left: 25px;
  width: 430px;
  font-size: 25px;
  color: #396658;
}

.part {
  margin-left: 50px;
}

.btn {
  font-size: 25px;
  width: 500px;
  background-color: #FCD345;
  border : 1px solid #FCD345;
  color: #396658;
}