body{
  background-color: #FDF8CC; 
}
.gnb {
  width: 100%;
  margin-left: 100px;
}
.gnb > li {
  float: left;
  list-style-type: none;
  padding: 20px;
  color: #008B56;
}
.header_wrap {
  display: flex;
  height: 150px;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 0px;
}
.div_class {
  margin-left: 50px;
  margin-top: 50px;
  width: 80%;
}
.logo {
  position: relative;
  margin-top: -30px;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.menu_nav {
  position: relative;
  margin-top: -170px;
  text-align: left;
  float: left;
  vertical-align: middle;
  width: 100%;
  margin-left: 20%;
  /* margin-right: 200px; */
  line-height: 100px;
}
.li {
  font-family: 'S-CoreDream-2ExtraLight';
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
* {
  font-family: 'S-CoreDream-5Medium';
}
@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff%27') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff%27') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* recommend */
* {
  font-family: 'S-CoreDream-5Medium';
}

.rec_food {
  /* font-family: 'S-CoreDream-2ExtraLight'; */
  font-size: 25px;
  position: relative;
  margin-top: 50px;
  margin-left:800px;
  color:red;
}
.box1 {
  position:absolute;
  background-color: #fff;
  width:400px;
  height:450px;
}

.box1 > .in_box1 {
  position:relative;
  margin-top: 100px;
  margin-left: 100px;
  background-color: #008B56;
  width:400px;
  width:250px;
}
