body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hekaton-be17b.appspot.com/o/landing_background.jpg?alt=media&token=6a922e8d-3cf3-4599-b393-0e83e1a02a1e');
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.disc_data {
  margin: 100px;
  padding: 100px;
  border-radius: 10px;
  text-align: center;
  background-color: skyblue;
  align-items: center;
}
.BUTTON {
  cursor: pointer;
  background-color: aqua;
}
