body {
  background-color: #fcd345;
}
.gnb > li {
  float: left;
  list-style-type: none;
  padding: 20px;
  color: #094d3e;
}
.container {
  width: 1300px;
  height: 100px;
}

a {
  text-decoration-line: none;
}
a:hover {
  color: #999;
}
#list {
  width: 500px;
}

.inner {
  width: 1200px;
}
.inner_box {
  margin: 0 auto;
  display: absolute;
  float: left;
  /* margin: 100px auto; */
  width: 50%;
  top: 0;
  right: 0;
}
.inner_box > #map {
  border-radius: 20px;
  margin-left: 300px;
  width: auto;
  height: 800px;
}
.input_list {
  margin: 50px;
  margin-top: 0px;
  float: left;
  width: 30%;
}
#food_list {
  background-color: white;
  list-style: none;
  padding: 30px 50px;
  margin-left: -10px;
  margin-right: -10px;
  height: 650px;
}
.food_wraper {
  margin: 20px;
  margin-top: 5px;
}
.food_wraper > li {
  cursor: pointer;
}

.search_wrapper {
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: #094d3e;
  vertical-align: middle;
  align-items: center;
}
#query_field::placeholder {
  font-size: 30px;
}
#query_field {
  font-size: 30px;
  width: 90%;
}
#query_btn {
  margin-left: 10px;
}
